<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/quiz.js"></script>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">
          <b>The Quiz Taker</b>
        </a>
      </div>

      <div class="navbar-collapse collapse navbar-responsive-collapse">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/">About Us</a></li>
          <li><a href="/">Sign In</a></li>
          <li><a href="/"></a></li>

        </ul>
      </div>
    </div>
  </head>


  <body>
<div class="container">
  <div class="col-md-1"></div>
  <div class="form-group col-md-10" style="margin-top: 15%;">

    <div class="form-horizontal">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title"><span id="ques"></span>
          </h2>
        </div>
        <div class="panel-body">
          <br>
          <!--<div class="list-group">
              <div class="container"><input type="radio" class="ans col-md-1" name="ans" value="ans1" >
              </div><br>
              <div class="container"><input type="radio" class="ans col-md-1" name="ans" value="ans2" >
              <a  class="list-group-item col-md-8" id="ans2">
              </a></div><br>
              <div class="container"><input type="radio" class="ans col-md-1" name="ans" value="ans3" >
              <a  class="list-group-item col-md-8" id="ans3">
              </a></div><br>
              <div class="container"><input type="radio" class="ans col-md-1" name="ans" value="ans4" >
              <a  class="list-group-item col-md-8" id="ans4">
              </a></div><br>
            </div>-->
            <table class="table table-hover ">
                <tbody>
                <tr >
                    <td style="width: 1px;"><input type="radio" class="ans" name="ans" value="ans1" ></td>
                    <td><a class="col-md-8" id="ans1">
                        </a></td>
                </tr>
                <tr>
                    <td style="width: 1px;"><input type="radio" class="ans" name="ans" value="ans2" ></td>
                    <td><a  class="col-md-8" id="ans2">
                        </a></td>
                </tr>
                <tr>
                    <td style="width: 1px;"><input type="radio" class="ans" name="ans" value="ans3" ></td>
                    <td><a  class="col-md-8" id="ans3">
                        </a></td>
                </tr>
                <tr>
                    <td style="width: 1px;"><input type="radio" class="ans" name="ans" value="ans4" ></td>
                    <td><a  class="col-md-8" id="ans4">
                        </a></td>
                </tr>


            </table>



            <button class="btn btn-primary pull-right" id="submitAns">Submit And Advance</button>
        </div>
      </div>

    </div>

  </div>
</div>
  </body>
</html>