<!DOCTYPE html>
<html>
  <head>
    <title>New Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/startQuiz.js"></script>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">
          <b>The Quiz Taker</b>
        </a>
      </div>

      <div class="navbar-collapse collapse navbar-responsive-collapse">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/">About Us</a></li>
          <li><a href="/">Sign In</a></li>
          <li><a href="/"></a></li>

        </ul>
      </div>
    </div>
  </head>
  <body>

<div class="container">
  <div class="col-md-1"></div>
  <div class="form-group col-md-10" style="margin-top: 15%;">

    <div class="form-horizontal">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title">Start Quiz</h2>
          </div>
          <div class="panel-body">

            <a href="#" onclick="startQuiz()" class="btn btn-primary pull-right">Start Quiz</a>
          </div>




      </div>



    </div>

  </div>

</div>
  </body>
</html>